$global-font-size: 16px;
$global-line-height: 1.5;

$site-title-font-size: 1.875rem; //30
$titles-font-size-h2: 1.5rem;   //24
$titles-font-size-h3: 1.25rem;  //20

$spacing-xxs: 0.625rem; //10
$spacing-xs: 0.9375rem; //15
$spacing-s: 1.25rem;    //20
$spacing-m: 1.875rem;   //30
$spacing-l: 3.125rem;   //50



$color0: transparent;
$color1: #fff;
$color2: #000;
$color3: #393939;

